In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
organ_name='skin'


dff=pd.DataFrame(columns=['organ', 'tissue_type', 'cell_type', 'cell_type_ontology_id', 'disease',
       'sex', 'ethnicity', 'development_stage', 'count'])
#arr=dff.values
for file in os.listdir('non_gene_all_47/'):

    try:
        df=pd.read_excel("non_gene_all_47/"+file)
        if organ_name in set(df['organ']):
            print(file)
            #print(list(df['organ']).count('kidney'))
            #arr = np.vstack((arr, df.values))
            dff=pd.concat([dff,df])
    except:
        print("bad_file -->", file)

41_organ_Tabula_Sapiens_-_Epithelial.xlsx
bad_file --> .DS_Store
64_organ_Tabula_Sapiens_-_Endothelial.xlsx
61_organ_Tabula_Sapiens_-_Stromal.xlsx
22_organ_Tabula_Sapiens_-_Immune.xlsx
25_organ_Tabula_Sapiens_-_All_Cells.xlsx

In [3]:
dff=pd.DataFrame(arr, columns=['organ', 'tissue_type', 'cell_type', 'cell_type_ontology_id', 'disease',
       'sex', 'ethnicity', 'development_stage', 'count'])
dff

NameError: name 'arr' is not defined

In [4]:
pd.read_excel("non_gene_all_47/"+"25_organ_Tabula_Sapiens_-_All_Cells.xlsx")

,organ,tissue_type,cell_type,cell_type_ontology_id,disease,sex,ethnicity,development_stage,count
0,skin,adipose tissue,B cell,CL:0000236,normal,male,unknown,human adult stage,23
1,skin,adipose tissue,T cell,CL:0000084,normal,male,unknown,human adult stage,1715
2,skin,adipose tissue,endothelial cell,CL:0000115,normal,male,unknown,human adult stage,3748
3,skin,adipose tissue,fibroblast,CL:0000057,normal,male,unknown,human adult stage,8459
4,skin,adipose tissue,leukocyte,CL:0000738,normal,male,unknown,human adult stage,160
...,...,...,...,...,...,...,...,...,...
453,vasculature,vasculature,mast cell,CL:0000097,normal,male;female,unknown,human adult stage,105
454,vasculature,vasculature,mature NK T cell,CL:0000814,normal,male;female,unknown,human adult stage,121
455,vasculature,vasculature,pericyte cell,CL:0000669,normal,male;female,unknown,human adult stage,1193
456,vasculature,vasculature,plasma cell,CL:0000786,normal,male;female,unknown,human adult stage,42
457,vasculature,vasculature,smooth muscle cell,CL:0000192,normal,male;female,unknown,human adult stage,3075

In [5]:
df.columns

Index(['organ', 'tissue_type', 'cell_type', 'cell_type_ontology_id', 'disease',
       'sex', 'ethnicity', 'development_stage', 'count'],
      dtype='object')

In [34]:
dff=pd.DataFrame(columns=['organ', 'tissue_type', 'cell_type', 'cell_type_ontology_id', 'disease',
       'sex', 'ethnicity', 'development_stage', 'count'])

In [65]:
dff

Empty DataFrame
Columns: [organ, tissue_type, cell_type, cell_type_ontology_id, disease, sex, ethnicity, development_stage, count]
Index: []

In [85]:
for org, data in dff.groupby("organ"):
    #print(org)
    if org==organ_name:
        df_organ=data

In [86]:
df_organ

,organ,tissue_type,cell_type,cell_type_ontology_id,disease,sex,ethnicity,development_stage,count
50,skin,skin of body,epithelial cell,CL:0000066,normal,male,unknown,human adult stage,106
79,skin,adipose tissue,endothelial cell,CL:0000115,normal,male,unknown,human adult stage,3748
108,skin,skin of body,endothelial cell,CL:0000115,normal,male,unknown,human adult stage,1309
126,skin,adipose tissue,B cell,CL:0000236,normal,male,unknown,human adult stage,23
127,skin,adipose tissue,T cell,CL:0000084,normal,male,unknown,human adult stage,1715
...,...,...,...,...,...,...,...,...,...
702,skin,skin of body,"naive thymus-derived CD8-positive, alpha-beta ...",CL:0000900,normal,male,unknown,human adult stage,88
703,skin,skin of body,plasma cell,CL:0000786,normal,male,unknown,human adult stage,24
704,skin,skin of body,regulatory T cell,CL:0000815,normal,male,unknown,human adult stage,126
705,skin,skin of body,smooth muscle cell,CL:0000192,normal,male,unknown,human adult stage,13
706,skin,skin of body,stromal cell,CL:0000499,normal,male,unknown,human adult stage,2943

In [78]:
df_organ.to_csv("lung_from_47data.csv")

In [39]:
list(dff['organ']).count(organ_name)

37

In [91]:
p

ValueError: could not convert string to float: '{\\rtf1\\ansi\\ansicpg1252\\cocoartf2512'